{% extends 'base_front.html.twig' %}

{%block body%}
<div class="container p-3 my-3 text-white">
<div class="col-md-6">
	<div class="nk-widget">
		<h4 class="nk-widget-title">
			<span class="text-main-1">Your text contains unallowed words</span>
			</h4>
		<a href="{{ path('contact') }}">Go back to contact form</a>
		</div>
	</div>
    </div>
    
	{%endblock%}
