<form method="post" action="{{ path('app_bad_words_delete', {'id': bad_word.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bad_word.id) }}">
    <button class="btn">Delete</button>
</form>
