{% extends 'base_back.html.twig' %}

{% block body %}
    <h1>Edit BadWords</h1>

    {{ include('bad_words/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bad_words_index') }}">back to list</a>

    {{ include('bad_words/_delete_form.html.twig') }}
{% endblock %}
