{% extends 'base-back.html.twig' %}

{% block title %}New Players{% endblock %}

{% block body %}
    <h1>Create new Players</h1>

    {{ include('players/_form.html.twig') }}

    <a href="{{ path('app_players_index') }}"><button type="button" class="btn btn-info">Back to Players List </button></a>
{% endblock %}
